################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EstacaoRecarga/EstacaoRecarga/obj
/EstacaoRecarga/EstacaoRecarga.Web/obj
/EstacaoRecarga/EstacaoRecarga.Application/bin/Debug/netcoreapp3.1
/EstacaoRecarga/EstacaoRecarga.Application/obj
/EstacaoRecarga/EstacaoRecarga.Data/obj
/EstacaoRecarga/EstacaoRecarga.Domain/bin/Debug/netcoreapp3.1
/EstacaoRecarga/EstacaoRecarga.Domain/obj
/EstacaoRecarga/EstacaoRecarga.Service/obj
/EstacaoRecarga/EstacaoRecarga.Web/bin/Debug/netcoreapp3.1
